.faces{
	width: 128px;
	height: 128px;
	margin: 5px;
	padding: 0;
	border: transparent 2px solid;
	float: left;
	cursor: pointer;
	background-size: 100% 100%;
}

.faces.selected{
	border: #0F0 2px solid;
}

.faces.active{
	border: #F00 2px solid;
}

$page-margin: 10pt;

#ga>div{
	background: #ddd;
	padding: 20pt;
	margin-top: $page-margin;
	margin-bottom: $page-margin;
	border-radius: 10pt;
}

#Evolve{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#Info{
	margin: $page-margin;
}

#faces {
	width: 426px;
	height: 426px; 
	padding: 5px;
	margin: 5pt;
}

$im: 10pt;

.info-button{
	width: calc( 50% - #{$im} );
}

.info-button:first-child{
	margin-left: 0;
	margin-right: $im;
}

.info-button:last-child{
	margin-right: 0;
	margin-left: $im;
}