{% extends 'base.html' %}
{% load static %}
{% block title %}FaceGA | About{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
	<h1>About</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat, ex sit amet pharetra condimentum, augue erat fermentum ipsum, eget facilisis felis eros consectetur tellus. Morbi ullamcorper mi eu massa interdum, in mattis dolor accumsan. Donec et odio eget tortor lobortis dignissim. Suspendisse molestie molestie ultrices. Vivamus ut ultrices quam. Sed blandit imperdiet tellus. Nam in faucibus elit, quis convallis elit. In rhoncus mollis nibh sollicitudin sagittis.</p>
{% endblock %}
